.fadeInDown {
  transform: translate3d(0, -2rem, 0);
}
.fadeInUp {
  transform: translate3d(0, 10rem, 0);
}
.fadeInRight {
  transform: translate3d(5rem, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20rem, 0, 0);
}

[data-anime] {
  opacity: 0;
}

.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.js-scroll {
  visibility: hidden;
  transform: translate3d(-20rem, 0, 0);
}

.js-scroll.active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform 0.8s, opacity 0.8s;
}
