.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;

  padding-top: 12rem;
  padding-bottom: 6rem;

  @include responsive(s) {
    padding-top: 8rem;
  }

  @include responsive(xs) {
    padding-top: 6rem;
  }

  .social {
    display: flex;
    gap: 2.8rem;

    svg {
      &:hover path {
        fill: $blue;
      }

      path {
        transition: 0.3s ease;
      }
    }
  }
}
