.bg-header {
  background-color: $blue;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5.6rem;

    @include responsive(s) {
      padding-top: 3.2rem;
    }

    @include responsive(xs) {
      padding-top: 3.2rem;
    }
  }
}