.bg-hero {
  background-image: url("../../assets/bg-hero.svg");
  background-color: $ice;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  position: relative;
  z-index: 10;
  max-height: 67.4rem;

  @include responsive(s) {
    max-height: 50.8rem;
  }

  @include responsive(xs) {
    height: 44.9rem;
  }

  .circle-left {
    width: 34.1rem;
    height: 31.1rem;
    position: absolute;
    left: -13.8rem;
    top: -3rem;
    animation: animaiton-circle 2s ease 0s forwards;

    @include responsive(s) {
      left: -22.7rem;
    }

    @include responsive(xs) {
      display: none;
    }
  }

  .circle-right {
    width: 17.4rem;
    height: 18.1rem;
    position: absolute;
    right: -4.8rem;
    top: 18rem;
    animation: animaiton-circle 2s ease 0.5s forwards;

    @include responsive(s) {
      right: -9.3rem;
    }

    @include responsive(xs) {
      display: none;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      @include type-1(h1, desktop);
      color: $white;
      text-align: center;

      max-width: 58.3rem;
      margin-top: 5.6rem;
      margin-bottom: 3.7rem;

      @include responsive(s) {
        @include type-1(h1, tablet);
        max-width: 48.3rem;
        margin-bottom: 4rem;
      }

      @include responsive(xs) {
        @include type-1(h1, mobile);
        max-width: 38.3rem;
        margin-top: 6.4rem;
        margin-bottom: 4rem;
      }

      span {
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: .3rem;
          background-color: $green;
          position: absolute;
          left: 0;
        }
      }
    }

    img {
      margin-top: 5rem;
      max-width: 76.7rem;
      max-height: 44.1rem;

      @include responsive(s) {
        max-width: 51.4rem;
        max-height: 29.6rem;
      }

      @include responsive(xs) {
        margin-top: 6.4rem;
        max-width: 100%;
        max-height: auto;
        min-width: 32rem;
        min-height: 18.4rem;
      }
    }
  }
}

@keyframes animaiton-circle {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }

  100% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 1;
    opacity: 1;
  }
}
